<!DOCTYPE html>
<html xmlns:th="http:/www.thymeleaf.org">
<head>
<meta charset="UTF-8">
<title>상품 추가</title>
<link href="/css/tailwind.css" rel="stylesheet">
</head>
<body class="bg-gray-300 min-h-screen">
	<div th:replace="common/navbar :: navbar"></div>
	<div class="mt-[80px] mb-[30px] mx-auto w-[1200px] bg-white rounded-xl shadow-xl p-10 relative">
		<form action="/product/add" method="post" enctype="multipart/form-data" id="addProduct" autocomplete="off">
			<div class="my-8">
				<label class="px-4 py-2 text-left text-xl">상품명 : </label>
				<input type="text" required="required" name="productName" class="text-xl px-2 py-1 rounded border border-gray-400" >
			</div>
			<div class="my-8">
				<label class="px-4 py-2 text-left text-xl">분류 : </label>
				<select class="border border-gray-400 rounded text-xl px-2 py-1" name="categoryNo">
					<option th:each="c : ${category}" th:value="${c.categoryNo}"th:text="${c.categoryName}"  ></option>
				</select>
			</div>
			<div class="my-8">
				<label class="px-4 py-2 text-left text-xl">단가 : </label>
				<input type="number" required="required" name="productPrice" class="text-xl px-2 py-1 rounded border border-gray-400" min="0">
			</div>
			<div class="my-8">
				<label class="px-4 py-2 text-left text-xl">단위 : </label>
				<input type="text" name="productUnit" class="text-xl px-2 py-1 rounded border border-gray-400" id="productUnit" placeholder="개, 박스 등">
			</div>
			<div class="my-8">
				<label class="px-4 py-2 text-left text-xl">상품 이미지 : </label>
				<input type="file" id="productImg" accept="image/*" class="text-xl px-2 py-1 rounded border border-gray-400" placeholder="이미지파일을 제출해주세요.">
				<input type="text" hidden="hidden" name="productImgUrl" id="productImgUrl">
				<div class="px-4 py-2 text-left text-xl" id="uploadStatus"></div>
			</div>
			<button type="submit" class="mt-10 text-xl bg-transparent hover:bg-gray-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-gray-500 hover:border-transparent rounded">
				상품 추가
			</button>
			<button onclick="location.href='/product'" class="mt-10 text-xl bg-transparent hover:bg-red-500 text-gray-700 font-semibold hover:text-white py-2 px-4 border border-red-500 hover:border-transparent rounded">
				취소
			</button>
			
		</form>
	</div> 
	<script type="text/javascript">
	// 이미지 url 생성
	document.getElementById('addProduct').addEventListener('submit', async function(event) {
		event.preventDefault();
		
		const imageFile = document.getElementById('productImg').files[0];
		const uploadStatusDiv = document.getElementById('uploadStatus');
		const form = event.target;
		const unit = document.getElementById('productUnit');
		
		// 이미지 파일이 없을시, 기본 url로 대체.
		if(!imageFile) {
			document.getElementById('productImgUrl').value = 'https://ibb.co/tTVBQV7Z';
			// 단위 미입력시 '개'로 지정
			if (!unit.value.trim()) {
				unit.value = '개';
			}
			
			form.submit();
			return;
		}
		
		
		
		const API_KEY = '5d36b22de008a44ce61aa96a0addf052';
		const formData = new FormData();
		formData.append('image', imageFile);
		
		try {
				const response = await fetch('https://api.imgbb.com/1/upload?key=' + API_KEY, {
				method: 'POST',
				body: formData
			});
			
			const result = await response.json();
			
			if (result.success) {
				
				// 단위 미입력시 '개'로 지정
				if (!unit.value.trim()) {
					unit.value = '개';
				}
				
				const imageUrl = result.data.url;
				document.getElementById('productImgUrl').value = imageUrl;
				form.submit();
			} else {
					uploadStatusDiv.innerText = '이미지 업로드를 실패하였습니다.';
			}
		} catch (error) {
				console.error(error);
				uploadStatusDiv.innerText = '오류 발생 : 이미지 업로드 실패.';
		}
	});
	
	</script>
</body>
</html>